<app-breadcrumb [breadcrumbOn]="breadcrumbOn" [breadcrumbRouteActive]="breadcrumbRouteActive"></app-breadcrumb>


<app-initial-list [initCardHeaderStatus]="initCardHeaderStatus" [initCardHeaderIcon]="initCardHeaderIcon" [initCardHeaderTitle]="initCardHeaderTitle" [dtTitles]="dtTitles" [routeLoadDataTablesService]="routeLoadDataTablesService" [initBotonCreateRoute]="initBotonCreateRoute"
    (selectedRowsEmiter)="selectedRowsReceiveData($event)" [routeChangeStatus]="routeChangeStatus" [routeData]="route" [filterActive]="paramFilterActive"></app-initial-list>

<!-- Accion Carga de Documentos-->
<app-form-modal *ngIf="statusModalUploadFile" [ruoteServiceDocuments]='ruoteServiceDocuments' [eventClickButtonSelectedData]='eventClickButtonSelectedData' (closeModalSendDocsEmiter)="closeModalSendDocs($event)"></app-form-modal>

<!-- Accion agenda, reasignacion, anulacion, VOBO, Copiar informado, Solicitar préstamo -->
<app-observation *ngIf="statusModalMain" [textFormObservaHeader]="textFormObservaHeader" (closeObservaEmiter)="closeObserva($event)" [showAgenda]="showAgenda" [showReasignacion]="showReasignacion" [showVOBO]="showVOBO" [showCopyInformaded]="showCopyInformaded"></app-observation>

<!-- Modal para enviar respuesta por correo -->
<app-send-reply-mail *ngIf="statusSendReplyMailModal" [dataSend]="dataSend" (closeModalEmiter)="closeSendReplyMailModal($event)"></app-send-reply-mail>

<!-- <app-rent-anexos-main [idRadi]="idRenta" (closeObservationEmiter)="closeObservation()" (closeDialogAnexosEmiter)="closeDialogAnexos()" *ngIf="statusAnexosMain"></app-rent-anexos-main> -->
<app-floating-button [menuButtons]="menuButtons" (menuEmiterData)="menuReceiveData($event)"></app-floating-button>

<app-upload-files-modal *ngIf="statusUploadFileAne" [statusNameFile]="statusNameFile" [showObservacion]="showObservacion" [showTipoDocumental]="showTipoDocumental" [ruoteServiceDocuments]="ruoteServiceDocumentsModal" [textForm]="textFormObservaHeader"
    [dataSend]="dataSend" [validateFile]="validateFile" (closeModalEmiter)="closeObserva($event)"></app-upload-files-modal>

<app-upload-massive-files-modal *ngIf="statusUploadFileAneMasive" [showTipoDocumental]="showTipoDocumental" [ruoteServiceDocuments]="ruoteServiceDocumentsAne" [dataSend]="dataSend" [validateFile]="validateFileAnexos" [textForm]="textFormAttachment" [maxRowsFiles]="maxRowsFilesAttachment" [showButtonClean]="showButtonCleanAttachment" [showButtonClear]="showButtonClearAttachment" (closeModalEmiter)="closeObserva($event)"></app-upload-massive-files-modal>

<!-- Modal Inclusion en expediente -->
<app-include-in-file *ngIf="statusModalIncludeInFile" [eventClickButtonSelectedData]="eventClickButtonSelectedData" (closeIncludeInFileEmiter)="closeObserva($event)"></app-include-in-file>