<div *ngFor="let rowField of field.fieldGroup; let i = index;" class="row">
    <div class="col-lg-12">
        <formly-field class="col" [field]="rowField"></formly-field>
        
        <div *ngIf="model[i]['informativo'] >= 0 && model[i]['informativo'] !== false " class="row">
            <div class="col-lg-12">
                <div class="alert alert-success" role="alert">
                    Totales
                </div>
            </div>
            <ng-container *ngFor="let total of options[ field.cuadroTotal.tabla ][ model[i]['informativo'] ] | keyvalue">
                <div *ngIf="field['modelTotales'][total.key]" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="alert alert-dark" title="{{ field['modelTotales'][ total.key ] }}">
                        <b>{{ field['modelTotales'][ total.key ] + ': ' }}</b>{{ total.value }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>