<app-breadcrumb [breadcrumbOn]="breadcrumbOn" [breadcrumbRouteActive]="breadcrumbRouteActive"></app-breadcrumb>

<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">

                <iframe src="http://isolucion.aerocivil.gov.co/Isolucion/PaginaLogin.aspx" allowfullscreen></iframe>
                <iframe width="420" height="315" [src]="getLink()" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>