<app-breadcrumb [breadcrumbOn]="breadcrumbOn" [breadcrumbRouteActive]="breadcrumbRouteActive"></app-breadcrumb>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Notification -->
        <div
          class="{{ initialNotificationClassAlert }} marginNotification"
          *ngIf="initialNotificationMessageArray.length > 0"
          data-notify="container"
        >
          <i class="material-icons" data-notify="icon">notifications</i>
          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons">close</i>
          </button>
          <div *ngIf="initialNotificationMessageArray.length > 0">
            <div *ngFor="let rowNotification of initialNotificationMessageArray" class="col-lg-12">
              {{ rowNotification | translate }}
            </div>
          </div>
        </div>
        <!-- /Notification -->
        <div class="card">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">{{ initCardHeaderIcon }}</i>
            </div>
            <h4 class="card-title">{{ textFormRol | translate }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="filingTypesForm" class="form-horizontal" (ngSubmit)="submitFilingTypesForm()">
              <div class="row">
                <div
                  [ngClass]="classFormCreate"
                  *ngIf="mostrarCodigoradicado == true || (mostrarCodigoradicado == false && paramOID != 0)"
                >
                  <mat-form-field class="example-full-width" [ngClass]="{ 'has-success': validTextType === true }">
                    <mat-label>{{ "Código tipo de radicado" | translate }}</mat-label>
                    <input
                      matInput
                      type="text"
                      id="codigoCgTipoRadicado"
                      formControlName="codigoCgTipoRadicado"
                      placeholder="Ingrese el código del tipo de radicado"
                      maxlength="8"
                      [readonly]="existenRadicados || isCodigoFijo"
                      required
                    />
                    <mat-error
                      *ngIf="
                        !filingTypesForm.get('codigoCgTipoRadicado').valid &&
                        filingTypesForm.get('codigoCgTipoRadicado').touched
                      "
                    >
                      El campo es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div [ngClass]="classFormCreate">
                  <mat-form-field class="example-full-width" [ngClass]="{ 'has-success': validTextType === true }">
                    <mat-label>{{ "Nombre tipo de radicado" | translate }}</mat-label>
                    <input
                      matInput
                      type="text"
                      id="nombreCgTipoRadicado"
                      formControlName="nombreCgTipoRadicado"
                      placeholder="{{ 'Nombre tipo de radicado' | translate }}"
                      maxlength="45"
                      required
                      [readonly]="urlParamTypeResolutions"
                    />
                    <mat-error
                      *ngIf="
                        !filingTypesForm.get('nombreCgTipoRadicado').valid &&
                        filingTypesForm.get('nombreCgTipoRadicado').touched
                      "
                    >
                      El campo es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="urlParamTypeResolutions === 'true'" [ngClass]="classFormCreate">
                  <mat-form-field class="example-full-width" [ngClass]="{ 'has-success': validTextType === true }">
                    <mat-label>{{ "numeracionResolución" | translate }}</mat-label>
                    <input
                      matInput
                      type="text"
                      id="numeracionCgTiposRadicadosResoluciones"
                      formControlName="numeracionCgTiposRadicadosResoluciones"
                      placeholder="{{ 'numeracionResolución' | translate }}"
                      maxlength="5"
                    />
                    <mat-error
                      *ngIf="
                        !filingTypesForm.get('numeracionCgTiposRadicadosResoluciones').valid &&
                        filingTypesForm.get('numeracionCgTiposRadicadosResoluciones').touched
                      "
                    >
                      El campo es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="validaMultiple" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-card-content>
                    <label>{{ titleMultiple | translate }}</label>
                    <section class="example-section">
                      <mat-slide-toggle
                        (change)="MatSlideToggleChange($event)"
                        formControlName="unicoRadiCgTipoRadicado"
                        class=""
                        [color]="color"
                      >
                        {{ messageMultiple | translate }}
                      </mat-slide-toggle>
                    </section>
                  </mat-card-content>
                </div>
              </div>

              <div id="accordion" role="tablist">
                <div class="card-collapse" *ngFor="let module of modulosRol; let i = index">
                  <div class="card-header" role="tab" [attr.id]="'heading' + i">
                    <div class="form-check">
                      <label class="form-check-label">
                        <a
                          data-toggle="collapse"
                          [attr.href]="'#collapse' + i"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                          class="collapsed"
                        >
                          {{ module.name | translate }}
                        </a>
                        <input
                          class="form-check-input"
                          (change)="validateInputParent($event)"
                          value="{{ module.name }}"
                          type="checkbox"
                          [checked]="module.value"
                          name="{{ module.name }}"
                        />
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div
                    [attr.id]="'collapse' + i"
                    class="collapse show"
                    role="tabpanel"
                    aria-labelledby="headingOne"
                    data-parent="#accordion"
                  >
                    <div class="card-body">
                      <div class="row">
                        <div
                          class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                          *ngFor="let operation of operations[module.name]"
                        >
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                (change)="validateInputChildren($event)"
                                type="checkbox"
                                name="{{ module.name }}"
                                [checked]="operation.value"
                                value="{{ operation.id }}"
                              />
                              {{ operation.name | translate }}
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="documentTypesRadiStatus">
                  <div class="card-collapse" *ngFor="let module of modulosTiposDocumentales; let i = index">
                    <div class="card-header" role="tab" [attr.id]="'heading' + i">
                      <div class="form-check">
                        <label class="form-check-label">
                          <a
                            data-toggle="collapse"
                            [attr.href]="'#collapse_' + i"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            class="collapsed"
                          >
                            {{ module.name | translate }}
                          </a>
                          <input
                            class="form-check-input"
                            (change)="validateInputParentDocumentType($event)"
                            value="{{ module.name }}"
                            type="checkbox"
                            [checked]="module.value"
                            name="{{ module.name }}"
                          />
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>
                    <div
                      [attr.id]="'collapse_' + i"
                      class="collapse show"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        <div class="row">
                          <div
                            class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                            *ngFor="let tipoDocumental of tiposDocumentales[module.name]"
                          >
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  (change)="validateInputChildrenDocumentType($event)"
                                  type="checkbox"
                                  name="{{ module.name }}"
                                  [checked]="tipoDocumental.value"
                                  value="{{ tipoDocumental.id }}"
                                />
                                {{ tipoDocumental.name | translate }}
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                <button
                  mat-raised-button
                  type="submit"
                  id="sendForm"
                  style="display: none"
                  class="btn btn-fill btn-rose"
                >
                  {{ textButtonForm }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-floating-button
    [iconMenu]="iconMenu"
    (menuPrimaryEmiterData)="menuPrimaryReceiveData($event)"
  ></app-floating-button>
</div>
