<app-breadcrumb [breadcrumbOn]="breadcrumbOn" [breadcrumbRouteActive]="breadcrumbRouteActive"></app-breadcrumb>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">{{ initCardHeaderIcon }}</i>
                        </div>
                        <h4 class="card-title">{{ textFormRol | translate }}</h4>
                    </div>
                    <div class="card-body ">
                        <form [formGroup]="rolesForm" class="form-horizontal" (ngSubmit)="submitRol()">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{ 'Nombre del perfil' | translate }}</mat-label>
                                        <input matInput type="text" readonly id="nombreRol" formControlName="nombreRol" placeholder="Ingrese el nombre del rol" maxlength="40" required>
                                        <mat-error *ngIf="!rolesForm.get( 'nombreRol').valid && rolesForm.get( 'nombreRol').touched ">
                                            El campo es obligatorio.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <mat-form-field>
                                        <mat-label>{{ 'selectNivelBusq' | translate }}</mat-label>
                                        <mat-select id="idRolNivelBusqueda" formControlName="idRolNivelBusqueda" name="idRolNivelBusqueda">
                                            <mat-option>
                                                <ngx-mat-select-search [placeholderLabel]="'Buscar...' | translate" [noEntriesFoundLabel]="'No se encontraron coincidencias' | translate" formControlName="listNivelBusqFilter" [searching]="true"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let nivelBusq of filteredlistNivelBusq | async" [value]="nivelBusq.id">
                                                {{ nivelBusq.val }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="!rolesForm.get( 'idRolNivelBusqueda').valid && rolesForm.get( 'idRolNivelBusqueda').touched ">{{ 'El campo es obligatorio' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <h4 class="card-title">{{ 'Información de accesos para el perfil' | translate }}</h4>

                            <div id="accordion" role="tablist">
                                <div class="card-collapse" *ngFor="let module of modulosRol; let i = index">
                                    <div class="card-header" role="tab" [attr.id]="'heading' + i">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <a data-toggle="collapse" [attr.href]="'#collapse' + i" aria-expanded="true" aria-controls="collapseOne" class="collapsed"> 
                                                    {{ module.name | translate }}
                                                </a>
                                                <input class="form-check-input" disabled value="{{ module.name }}" type="checkbox" [checked]="module.value" name="{{ module.name }}" >
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div [attr.id]="'collapse' + i" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngFor="let operation of operations[module.name]">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                                <input class="form-check-input" disabled type="checkbox" name="{{ module.name }}" [checked]="operation.value" value="{{ operation.id }}"> {{ operation.name }}
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                   </span>
                                                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer text-right ">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                <button mat-raised-button type="submit" id="sendForm" style="display: none;" class="btn btn-fill btn-rose">{{ textButtonForm }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-floating-button [iconMenu]="iconMenu" (menuPrimaryEmiterData)="menuPrimaryReceiveData($event)"></app-floating-button>
</div>