// Bootstrap brand color customization

/*     brand Colors              */


/*
$brand-primary:              $purple-500 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
*/


/**
 * Skinatech
 * Autor: Elvis Valera
 * Fecha: 01-10-2019
 * Info: Configuración de colores
 */

$brand-primary : $cyan-primaryskina !default;
$brand-info : $cyan-infoskina !default;
$brand-success : $gren-successkina !default;
$brand-warning : $orange-500 !default;
$brand-danger : $red-500 !default;
$brand-rose : $pink-500 !default;
$brand-inverse : $black-color !default;