<app-auth-nav></app-auth-nav>

<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="
      background-image: url('./assets/img/fondos/aeropuerto-10-10_azul.jpg');
      background-size: cover;
      background-position: top center;
    "
  >
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 ml-auto mr-auto">
          <form class="form" [formGroup]="resetPassForm" (ngSubmit)="validateRecaptcha(captchaRefR)">
            <div @enterState class="card card-login card-profile text-center">
              <div class="card-header">
                <div class="card-avatar">
                  <img class="img" src="./assets/img/logos/email_gris.png" />
                </div>
              </div>

              <div class="card-body">
                <div class="col col-sm-10 ml-auto mr-auto">
                  <p class="text-center alertRegister">
                    <b>{{ "resetpass.headText" | translate }}</b>
                  </p>
                </div>
                <hr class="hr-short" />

                <div class="col col-sm-12 alertRegister">
                  <app-errors-forms
                    [resErrsJsonStatus]="resErrsJsonStatus"
                    [resErrsJson]="resErrsJson"
                  ></app-errors-forms>
                </div>

                <div class="col col-sm-10 ml-auto mr-auto">
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="{{ 'resetpass.placeHolderMail' | translate }}"
                        formControlName="email"
                        maxlength="255"
                      />
                    </div>

                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person</i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ 'resetpass.placeHolderUsername' | translate }}"
                        formControlName="username"
                        maxlength="255"
                      />
                    </div>
                  </span>
                </div>
              </div>
              <div class="card-footer justify-content-center">
                <div class="col col-sm-10 ml-auto mr-auto">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                    <button
                      style="width: 100%"
                      mat-raised-button
                      type="submit"
                      [disabled]="!resetPassForm.valid || isSubmitted"
                      class="btn {{ styleButtonForm }}"
                    >
                      {{ "resetpass.botonSubmitForm" | translate }}
                    </button>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                    <span (click)="goToLogin()" style="width: 100%" class="form-group btn btn-default">{{
                      "resetpass.botonBack" | translate
                    }}</span>
                  </div>
                </div>
              </div>
              <br />
            </div>

            <re-captcha
              *ngIf="activeRecaptcha"
              size="invisible"
              #captchaRefR="reCaptcha"
              (resolved)="responseCaptcha($event)"
              [siteKey]="captchaSiteKey"
            ></re-captcha>
          </form>
        </div>
      </div>
    </div>

    <app-auth-footer></app-auth-footer>
  </div>
</div>
