.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 3px;
    display: block;
    background: currentColor;
    top: 30px;
    bottom: 0px;
    margin-left: 10px;
}

.timeline:before {
    left: 10px !important;
}

.marginHistory {
    margin-left: 20px;
    margin-bottom: 0rem;
    text-align: justify;
}

.moreHistory {
    text-align: center !important;
    color: #365c8a
}

.style-none {
    display: none;
}

@media (max-width: 600px) {
    .style-none {
        display: block;
    }
    .margin-left {
        margin-left: 20px!important;
    }
}