<!-- <section class="{{ classSection }}">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div *ngIf="panelHeadingStatus" class="panel-heading">
                    <a routerLink="{{ routeBotonUpdateView }}/{{ paramId }}" class="btn btn-primary">Actualizar</a>
                </div>
                <table class="table table-striped table-bordered detail-view">
                    <tbody>
                        <tr *ngFor="let row of dataRows">
                            <th>{{ row.alias }}</th>
                            <td *ngIf="!row.text;else other_content">{{ row.value }}</td>
                            <ng-template #other_content>
                                <td>
                                    <div [innerHTML]="comment"></div>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section> -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">{{ initCardHeaderIcon }}</i>
                        </div>
                        <h4 class="card-title">{{ textFormView }}</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-striped table-bordered detail-view">
                                    <tbody>
                                        <tr *ngFor="let row of dataRows">
                                            <th>{{ row.alias }}</th>
                                            <td *ngIf="!row.text;else other_content">{{ row.value }}</td>
                                            <ng-template #other_content>
                                                <td>
                                                    <div [innerHTML]="comment"></div>
                                                </td>
                                            </ng-template>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>