<h5> <b>  {{ 'Firma digital' | translate }} </b> </h5>
<b>  {{ 'Por favor realice el proceso de firma digital y cargue de nuevo el archivo al sistema' | translate }} </b>

<div mat-dialog-content class="mat-typography">

    <hr>

    <form [formGroup]="moduleForm" (ngSubmit)="submit()">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
            <div class="example-full-width">
                <label for="fileUpload">{{ 'Seleccione el archivo' | translate }}</label>
                <input #inputFile type="file" name="fileUpload" class="form-control" (change)="onSelectedFile($event)" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
            <mat-form-field class="example-full-width ">
                <mat-label>{{ 'Digite su contraseña' | translate }}</mat-label>
                <input matInput type="password" id="passUser" formControlName="passUser" placeholder="{{ 'login.placeholderPassword' | translate }}" autocomplete="off" maxlength="25" required>
                <mat-error *ngIf="!moduleForm.get( 'passUser').valid && moduleForm.get('passUser').touched ">
                    {{ 'El campo es obligatorio' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Inicio Observacion -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'Observación' | translate }}</mat-label>
                <textarea #observacion matInput type="text" id="observacion" formControlName="observacion" placeholder="{{ 'Ingrese una observación' | translate }}" maxlength="500" required rows="5"></textarea>
                <mat-hint>{{ observacion.value.length }} / 500</mat-hint>
            </mat-form-field>
        </div>
        <!-- Fin Observacion -->

        <!-- Button submit -->
        <button type="submit" id="sendForm" style="display: none;"></button>

    </form>



</div>

<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close> {{ 'Cancelar' | translate }}</button>
    <button mat-button (click)="sendForm($event)" cdkFocusInitial> {{ 'btnConfirmar' | translate }} </button>
</div>